@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
    
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}
  /* $$$$$$$$$$$$$$$$$$$$$ Styling Header $$$$$$$$$$$$$$$$$$$$$ */  
/* Styling Navbar before stick */
#navArea {
  display: flex;
  justify-content: space-between;
  padding: 3px 10px 3px 10px;
  position: fixed;
  width: 100%;
  background: rgba(180, 26, 218, 0);
  transition: background 1s;
  z-index: 10;
}

/* Styling Login button */
/* .login-btn-nav{
  margin: auto -130px auto -184px;
}   */
#navArea .logo img {
  height: 64px;
  width: 74px;
  margin-left: 10px;
  transition: height 1s;
}

#navArea ul {
  list-style: none;
  /* width: 700px; */
  justify-content: space-around;
  /* padding: 10px; */
  /* margin-right: -900px; */
}
#navArea ul li a {
  color: white;
  font-weight: 600;
  font-size: larger;
  padding: 10px 20px 10px 20px;
/* transition: color 1s; */
}

/* Styling Navbar After stick */
#navArea.is-sticky {
  background: rgba(0, 0, 0, 0.582);
  z-index: 10;
}

/* #navArea.is-sticky > a {
color:rgb(218, 10, 10);
} */

#navArea.is-sticky .logo img{
  height:43px;
  width: 43;
}
/* Avatar when user logged in */

#avatar-user .dropdown-menu a, #avatar-user .dropdown-menu button{
  color: #777;
	padding: 8px 20px;
	line-height: normal;
}


/* Styling Carousel */
.carousel-overlay{
  position:absolute;
  top: 0px;
  left:0px;
  background-color: rgba(0, 0, 0, 0.788);
  height: 100%;
  width: 100%;
}

/* Styling styling Footer */
.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}
  
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
  
  
/* footer left*/
  
.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
  
.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer .icons a:hover{
    color: #33383b;
    background-color: #ffffff;
}
  
  
/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
  
.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}
  
  
/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* $$$$$$$$$$$$$ FAVORITE PAGE $$$$$$$$$$$$$ */

/* Limit text length for wish list items description */
.limi-text-wishlist-description{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.bgLightGray{
  background-color: #579ed842;
}
.bgLight{
  background-color: #cff9ff;
}

/* DISH DETAIL AND MENU PAGE */
#fav-heart-btn .fa-heart, .fa-heart-o{
  color: rgb(0, 238, 255);
  cursor: pointer;
}

#fav-heart-btn-menu .fa-heart, .fa-heart-o{
  color: rgb(0, 238, 255);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 19px;
  z-index: 10;
}

#dishes-menu .card-img-overlay{
  background-color: #000000a1;
  height: 60px;
}

#dishes-menu .card-title{
  color: white;
}
#dishes-menu:hover .card-title{
  color: rgb(0, 238, 255);
}

/* Limit Text length */
.limiText{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* Confirm logout alert message  */
.custom-ui{
  text-align: center;
  width: 500px;
  height: 210px;
  padding: 40px;
  background: #28bae6;
  box-shadow: 0 20px 75px rgb(0 0 0 / 23%);
  color: #fff;
}

.custom-ui h3, .custom-ui p{
  color: white;
  text-align: center;
}

.custom-ui button{
  width: 160px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px;
  cursor: pointer;
  background: none;
  color: #fff;
  font-size: 14px;
}

.custom-ui button:hover{
  padding: 11px;
  background: rgb(4, 0, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  transition: all 0.3s;
}

/* Loading overlay */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.95) url(loading-1.gif) no-repeat center center;
  background-size: 100px 100px;
  z-index: 10000;
}

/* Styling Flash message */
#flash-box>div {
  padding: 5px 20px !important;
  background-color: transparent !important;
  margin-bottom: 0px !important;
}






@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }

  #avatar-user .avatar-mobile{
    position: absolute;
    top: -4px;
    left: 331px;
  }

  #wish-list-items img{
    height: 200px;
  }
}
  
@media (max-width: 550px){
  .mobile-img{
    height: 470px;
  }

  #avatar-user .avatar-mobile{
    left: 147px;
  }

  #dishes-menu img{
    height: 250px;
  }

  #dish-detail img{
    height: 250px;
  }

  #avatar-user{
    z-index: 9999;
  }
}

/* REACT TRANSITION AND ANIMATION */
.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}
.page-exit {
  opacity: 1;
  transform: translateX(0%);
}
.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
